:root {
    --pale-blue:  hsl(225, 100%, 94%);
    --bright-blue: hsl(245, 75%, 52%);
    --pale-blue: hsl(225, 100%, 98%);
    --desaturated-blue: hsl(224, 23%, 55%);
    --dark-blue: hsl(223, 47%, 23%);
}


* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(images/pattern-background-desktop.svg);
    background-repeat: repeat-x;
    background-color: hsl(225, 100%, 94%);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 600px;
    border-radius: 8px;
    overflow: hidden;
    background-color: white;
}

.container-img {
    width: 100%;
}

.container-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
}


.container-title h3 {
    font-family: "Red Hat Display", sans-serif;
    font-weight: 600;
    color:hsl(223, 47%, 23%);
    font-size: 1.4rem;
}

.container-description {
    width: 90%;
    text-align: center;
    margin-top: 18px;
}

.container-description span {
    line-height: 20px;
    font-size: 16px;
    color:hsl(224, 23%, 55%);
    font-family: "Red Hat Display", sans-serif;
}

.annual-plan {
    background-color: var(--pale-blue);
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    border-radius: 8px;
    width: 90%;
    font-family: "Red Hat Display", sans-serif;
}

.annual-plan img {
    width: 50px;
    margin-right: 20px;
}

.annual-plan .annual-plan-container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.annual-plan .annual-plan-container .annual-plan-title {
    color: var(--dark-blue);
    font-weight: 600;
    font-size: 0.9rem;
    flex: 1;
}

.annual-plan .annual-plan-container .annual-plan-price {
    color:hsl(224, 23%, 55%);
    font-size: 0.8rem;
    margin-top: 5px;
}

.annual-plan span {
    text-decoration: underline;
    color:hsl(245, 75%, 52%);
    font-size: 0.8rem;
}

.annual-plan span:hover {
    cursor: pointer;
    text-decoration: none;
}

.btns {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Red Hat Display", sans-serif;
    margin-top: 20px;
}

.btns button {
    width: 100%;
    height: 40px;
    border-radius: 6px;
    font-size: 0.8rem;
    margin-top: 20px;
}

.btns button:first-child {
    background-color: var(--bright-blue);
    border: 1px solid var(--bright-blue);
    color: white;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, var(--bright-blue) 0px 5px 8px;
}

.btns button:last-child {
    background-color: white;
    border: none;
    color: var(--dark-blue);
}

.btns button:hover{
    cursor: pointer;
}